/* Remove vertical padding/margin between elements */
body, .navbar, .main-nav, .nav-item, .nav-link, .hero-section, .row.no-gutters, .col-md-6 {
    padding: 0;
    margin: 0;
}

/* Custom styles for navigation */
.navbar {
    padding: 0.25rem 0.5rem; /* Reduce padding */
    font-size: 0.625rem; /* Smaller font size */
}

.navbar-brand img {
    height: 50px; /* Increase logo size */
}

.nav-link {
    padding: 0 5px;
    color: #6c757d; /* Lighter shade of gray */
}

.nav-link-separator {
    color: inherit; /* Use inherited color from parent element */
    font-size: inherit; /* Use inherited font size from parent element */
    padding: 0 5px;
    line-height: 1;
}

/* Custom styles for the main navigation */
.main-nav {
    background-color: #f8f9fa;
    border-top: 1px solid #ebebec;
    padding: 0.25rem 0; /* Reduce padding */
    font-size: 0.625rem; /* Smaller font size */
}

.main-nav .nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-nav .nav-link {
    color: #000;
    padding: 5px 8px;
    font-size: 0.75rem; /* Smaller font size */
    font-weight: bold; /* Make the links bold */
    text-decoration: none;
    position: relative;
}

.main-nav .nav-link:hover {
    color: #de1e25;
}

/* Dropdown menu styles */
.main-nav .dropdown-menu {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    width: 250px;
    padding: 5px; /* Padding for the dropdown menu */
    border-top: 3px solid #de1e25; /* Red top border */
    border-radius: 8px; /* Border radius for the dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    position: absolute; /* Ensure dropdown does not push down other elements */
}

.main-nav .dropdown-item {
    font-size: 0.625rem; /* Inherit main nav font size */
    font-weight: bold; /* Bold text */
    padding: 5px 8px; /* Padding for left and right */
    color: #000000; /* Black text */
}

.main-nav .dropdown-item:hover {
    background-color: #de1e25; /* Light red background on hover */
    color: #ffffff; /* White text on hover */
    border-radius: 8px; /* Border radius for the links on hover */
}

/* Custom styles for the hero section */
.hero-section {
    background: url('hero_hd.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 30px 0; /* Reduce padding */
    height: 70vh; /* Reduce height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.hero-text-left {
    text-align: left;
    margin-left: 3%; /* Adjust margin */
}

.hero-text-right {
    text-align: right;
    margin-right: 3%; /* Adjust margin */
}

.hero-text h1 {
    font-size: 1.5rem; /* Slightly smaller heading */
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow */
}

.hero-text p {
    font-size: 0.875rem; /* Slightly smaller text */
    margin-bottom: 15px;
    color: black;
}

.cta-btn {
    background: linear-gradient(to right, #8a000a 0%, #de1e25 100%);
    color: white;
    padding: 6px 15px; /* Slightly smaller padding */
    border: none;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75rem; /* Slightly smaller button text */
}

.cta-btn:hover {
    background: linear-gradient(to right, #de1e25 0%, #8a000a 100%);
    color: white;
}

/* Custom styles for the Schedule Now button */
.schedule-btn {
    background: linear-gradient(to right, #8a000a 0%, #de1e25 100%);
    color: white;
    padding: 6px 10px; /* Slightly smaller padding */
    border: none;
    border-radius: 50px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 3px;
    font-size: 0.75rem; /* Smaller font size */
}

.schedule-btn:hover {
    background: linear-gradient(to right, #de1e25 0%, #8a000a 100%);
    color: white;
}

/* Custom styles for the search button */
.search-btn {
    border: none;
    background: transparent;
    color: #000;
}

.search-icon {
    font-size: 1.25rem;
}

/* Custom styles for the info section */
.info-section {
    background-color: #f8f9fa; /* Subtle background color */
    width: 100%; /* Full width */
    padding: 20px 0; /* Padding for top and bottom */
    display: flex;
    justify-content: center;
}

.info-text {
    width: 90%; /* 90% width */
    text-align: center; /* Centered text */
}

.info-text p {
    font-size: 0.75rem;
    color: #333; /* Darker text color */
}

.individuals-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: white; /* Different shade for individuals-section */
}

.col-left {
    flex: 1;
    padding: 40px 60px; /* Increase padding */
    margin-top: 5px; /* Add margin top */
    margin-bottom: 20px; /* Add margin bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly */
}

.col-right {
    flex: 2; /* 2/3 width */
    display: flex;
    justify-content: space-around; /* Add space between columns */
    padding: 20px 0; /* Adjust padding as needed */
    margin-bottom: 0; /* Remove bottom margin */
    padding-bottom: 0; /* Remove bottom padding */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the cards vertically */
    padding-top: 20px; /* Add top padding */
    padding-bottom: 20px; /* Add bottom padding */
}

.central-column {
    padding-top: 50px; /* Adjust padding */
    padding-bottom: 50px; /* Adjust padding */
    padding-left: 10px; /* Add left padding */
    padding-right: 10px; /* Add right padding */
}

.col-left h2 {
    font-size: 2rem; /* Increase font size */
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px; /* Increase margin bottom */
}

.col-left h3 {
    font-size: 1rem; /* Increase font size */
    font-weight: 200; 
    line-height: 1.5; /* Increase line height */
    font-family: 'Roboto', sans-serif;
    margin-top: 15px; /* Increase margin top */
    margin-bottom: 20px; /* Increase margin bottom */
}

.col-left p {
    color: #6c757d;
    font-size: 0.85rem; /* Increase font size */
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px; /* Increase margin bottom */
}

.individuals-list, .benefits-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #de1e25;
    font-size: 0.85rem; /* Increase font size */
}

.individuals-list li, .benefits-list li {
    margin-bottom: 20px; /* Increase margin bottom */
    display: flex;
    align-items: center;
}

.individuals-list li i, .benefits-list li i {
    margin-right: 15px; /* Increase margin right */
    color: #de1e25;
}

.animated-item {
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.animated-item:nth-child(odd) {
    animation-name: slideInLeft; /* Animate from left */
}

.animated-item:nth-child(even) {
    animation-name: slideInRight; /* Animate from right */
}

.animated-benefit {
    opacity: 0;
    animation: slideInBottom 2s forwards;
    animation-delay: 3s; /* Delay after first list animations */
    animation-timing-function: ease-in-out;
}

/* Keyframes for animations */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    background-color: #d4d9dc; /* Slightly darker shade than section background */
    border-radius: 8px;
    margin-bottom: 10px;
    height: auto; /* Adjust card height as needed */
    padding: 10px; /* Add padding to ensure background color covers the whole card */
    box-sizing: border-box; /* Ensure padding is included in the height calculation */
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    justify-content: space-between; /* Space out content vertically */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add darker box shadow */
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; /* Remove additional padding */
}

.card-title {
    font-size: 0.875rem; /* Adjust font size */
    font-weight: bold;
    margin: 0; /* Remove default margin */
}

.btn-link {
    font-size: 1rem; /* Adjust font size */
    color: #de1e25;
}

.card-img-top {
    padding: 5px; /* Reduce padding for images */
    border-radius: 8px; /* Add border-radius to images */
    height: 60%; /* Set a percentage height for the images */
    object-fit: cover; /* Ensure images cover the area without distortion */
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .col-left {
        width: 100%; /* Full width on smaller screens */
    }

    .col-right {
        width: 100%; /* Full width on smaller screens */
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 100%; /* Full width for each column */
        padding: 10px 0; /* Adjust padding */
    }

    .central-column {
        padding-top: 50px; /* Adjust padding */
        padding-bottom: 50px; /* Adjust padding */
    }

    .card-title {
        font-size: 1rem; /* Adjust font size */
    }

    .btn-link {
        font-size: 1.125rem; /* Adjust font size */
    }

    .col-left h2 {
        font-size: 1.75rem; /* Adjusted font size */
    }

    .col-left h3 {
        font-size: 1rem; /* Adjusted font size */
    }

    .col-left p {
        font-size: 0.875rem; /* Adjusted font size */
    }
}

@media (max-width: 768px) {
    .col-left h2 {
        font-size: 1.5rem; /* Adjusted font size */
    }

    .col-left h3 {
        font-size: 0.875rem; /* Adjusted font size */
    }

    .col-left p {
        font-size: 0.75rem; /* Adjusted font size */
    }

    .card-title {
        font-size: 0.875rem; /* Adjust font size */
    }

    .btn-link {
        font-size: 1rem; /* Adjust font size */
    }
}

@media (max-width: 576px) {
    .col-left {
        padding: 10px; /* Adjust padding */
    }

    .col-right {
        padding: 10px; /* Adjust padding */
    }

    .column {
        padding: 10px 0; /* Adjust padding */
    }

    .central-column {
        padding-top: 20px; /* Adjust padding */
        padding-bottom: 20px; /* Adjust padding */
    }

    .card-title {
        font-size: 0.75rem; /* Adjust font size */
    }

    .btn-link {
        font-size: 0.875rem; /* Adjust font size */
    }

    .col-left h2 {
        font-size: 1.25rem; /* Adjusted font size */
    }

    .col-left h3 {
        font-size: 0.75rem; /* Adjusted font size */
    }

    .col-left p {
        font-size: 0.625rem; /* Adjusted font size */
    }
}
.employers-section {
    background: #E6E9ED url('background.png') no-repeat center center;
    background-size: cover;
    padding: 50px 5%; /* Increase left and right margin */
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.employers-heading {
    text-align: center;
    font-size: 2rem; /* Increase font size */
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px; /* Increase margin bottom */
}

.employers-container {
    padding: 0 5%;
}

.employers-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add spacing between rows */
}

.employers-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    width: 48%;
    margin-bottom: 20px; /* Add spacing between cards */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.employers-card-content {
    flex: 1;
    padding: 15px; /* Smaller padding */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.employers-card-content h3 {
    font-size: 1.25rem; /* Smaller font size */
    margin-bottom: 10px;
}

.employers-card-content p {
    font-size: 0.875rem; /* Smaller font size */
    margin-bottom: 15px;
}

.employers-card-content h4 {
    font-size: 0.875rem; /* Smaller font size */
}

.employers-learn-more-link {
    color: #de1e25;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.employers-learn-more-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background-color: #de1e25;
    color: white;
    text-align: center;
    margin-left: 10px;
    font-size: 1.25rem;
}

.employers-card-image {
    flex: 1;
    padding: 0; /* Remove padding */
}

.employers-img-fluid {
    border-radius: 200px 0 0 200px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .employers-card-content, .employers-card-image {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .employers-card-image img {
        border-radius: 15px 15px 0 0;
    }
    .employers-row {
        flex-direction: column;
        height: auto;
    }
}

.about-us-section {
    padding: 50px 5%;
    background-color: #f8f9fa; /* Light background color */
}

.about-us-image {
    display: flex;
    justify-content: flex-end; /* Align image to the right */
}

.about-us-image img {
    max-width: 100%;
    border-radius: 15px;
}

.about-us-content {
    padding-left: 30px; /* Add left padding for better spacing */
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-us-content p {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
}

.about-us-cta-btn {
    background: linear-gradient(to right, #8a000a 0%, #de1e25 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.about-us-cta-btn:hover {
    background: linear-gradient(to right, #de1e25 0%, #8a000a 100%);
    color: white;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .about-us-image {
        justify-content: center;
        margin-bottom: 20px;
    }

    .about-us-content {
        padding-left: 0;
    }
}

.schools-universities-section {
    padding: 50px 5%;
    background-color: #f8f9fa; /* Light background color */
}

.schools-universities-row {
    display: flex;
    width: 100%;
}

.schools-universities-col-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between cards */
}

.schools-universities-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.schools-universities-card h3 {
    font-size: 1.25rem; /* Smaller font size */
    margin-bottom: 10px;
}

.schools-universities-card p {
    font-size: 0.875rem; /* Smaller font size */
    margin-bottom: 15px;
}

.schools-universities-col-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    margin-top: auto; /* Ensure the button aligns with the bottom of the left column */
    margin-bottom: auto; /* Ensure the button aligns with the bottom of the left column */
}

.schools-universities-col-right h2 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 20px;
}

.schools-universities-col-right .main-image {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    max-height: 280px;
}

.schools-universities-cta-btn {
    background: linear-gradient(to right, #8a000a 0%, #de1e25 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.schools-universities-cta-btn:hover {
    background: linear-gradient(to right, #de1e25 0%, #8a000a 100%);
    color: white;
}

.logo-scroll {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 20px; /* Add some margin-top for spacing */
}

.logo-container {
    display: flex;
    animation: scroll 30s linear infinite;
}

.logo-container img {
    width: 100px; /* Adjust size as needed */
    margin: 0 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .schools-universities-section {
        flex-direction: column;
    }

    .schools-universities-col-left, .schools-universities-col-right {
        width: 100%;
        padding: 0;
    }

    .schools-universities-col-right h2 {
        text-align: center;
    }

    .schools-universities-col-right .main-image {
        margin: 0 auto 20px auto;
    }

    .logo-scroll {
        text-align: center;
    }
}
.passports-support-section {
    padding: 50px 5%;
    display: flex;
    background-color: #e9ecef; /* Light background color */
}

.passports-support-row {
    display: flex;
    width: 100%;
}

.passports-support-col-left {
    flex: 1;
    padding-right: 30px; /* Add padding to right for spacing */
}

.passports-support-col-left h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.passports-support-col-left p {
    font-size: 1rem;
    color: #6c757d;
}

.more-info-link {
    display: inline-block;
    margin-top: 10px;
    color: #de1e25;
    text-decoration: none;
    font-weight: bold;
}

.passports-support-col-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Reduced spacing between rows */
}

.icon-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Reduced gap between icons in each row */
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #495057;
    flex: 1; /* Ensure equal width for each icon text */
}

.icon-text i {
    font-size: 1.5rem;
    color: #de1e25;
    min-width: 1.5rem; /* Ensure icons are aligned */
}

/* Animation styles */
.animate-top {
    animation: slideInTop 3s ease-in-out;
}

.animate-left {
    animation: slideInLeft 3s ease-in-out;
}

.animate-right {
    animation: slideInRight 3s ease-in-out;
}

.animate-bottom {
    animation: slideInBottom 3s ease-in-out;
}

/* Keyframes for animations */
@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .passports-support-row {
        flex-direction: column;
    }

    .passports-support-col-left, .passports-support-col-right {
        width: 100%;
        padding: 0;
    }
}
.get-in-touch-section {
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa; /* Light background color */
    min-height: 100vh; /* Ensure the section fits the viewport height */
}

.headings-row {
    display: flex;
    width: 100%;
}

.heading-col {
    flex: 1;
    padding: 0 20px;
}

.col-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left; /* Align left to match columns */
}

.get-in-touch-row {
    display: flex;
    width: 100%;
}

.get-in-touch-col-left, .get-in-touch-col-right {
    flex: 1;
    padding: 20px;
}

.get-in-touch-col-left {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form .cta-btn {
    background: linear-gradient(to right, #8a000a 0%, #de1e25 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px; /* Add some space above the button */
}

.contact-form .cta-btn:hover {
    background: linear-gradient(to right, #de1e25 0%, #8a000a 100%);
    color: white;
}

.contact-info p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.contact-info strong {
    font-weight: bold;
}

.contact-info i {
    color: #de1e25;
    font-size: 1.25rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .headings-row {
        flex-direction: column;
        align-items: flex-start;
    }
    .get-in-touch-row {
        flex-direction: column;
    }

    .get-in-touch-col-left, .get-in-touch-col-right {
        width: 100%;
        padding: 0;
    }
}

/* Footer Section Styles */
.footer-section {
    background: url('background.png') no-repeat center center;
    background-size: cover;
    padding: 50px 5%;
    color: black; /* Adjusted for visibility on white background */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-col-left, .footer-col-right {
    flex: 1;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-col-left p {
    margin-bottom: 20px;
    font-size: 0.875rem; /* Adjust text size */
}

.footer-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #6c757d; /* Match lighter shade of gray for links */
    font-size: 0.875rem; /* Adjust text size */
}

.footer-links a {
    color: inherit;
    text-decoration: none;
    margin: 0 10px;
}

.footer-link-separator {
    margin: 0 10px;
}

.footer-col-right {
    text-align: right; /* Align right column text */
    padding-top: 50px;
}

.footer-col-right h2 {
    margin-bottom: 10px;
    color: black; /* Adjust for visibility */
    font-size: 1.25rem; /* Adjust text size */
}

.footer-col-right p {
    margin-bottom: 20px;
    color: black; /* Adjust for visibility */
    font-size: 0.875rem; /* Adjust text size */
}

.footer-subscribe-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-subscribe-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-right: 10px;
    flex: 1;
}

.footer-subscribe-form .cta-btn {
    background: linear-gradient(to right, #8a000a 0%, #de1e25 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.footer-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #6c757d; /* Match lighter shade of gray for text */
    font-size: 0.875rem; /* Adjust text size */
}

.footer-copyright {
    margin: 0 auto;
    text-align: center;
    flex: 1; /* Center the copyright text */
}

.footer-social-icons {
    display: flex;
    gap: 10px;
}

.footer-social-icons a {
    color: #6c757d; /* Adjust color for visibility */
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-social-icons a:hover {
    color: #de1e25;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-bottom-row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-social-icons {
        margin-top: 10px;
    }
}



/* Specific Section Below Footer */
.image-container {
    height: 33vh; /* Adjust the height as needed */
    overflow: hidden;
    margin-bottom: 20px; /* Added margin below image container */
}

.image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.container-my4 {
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevents overflow and scrolls the parent */
    scroll-snap-type: y mandatory; /* Enable snap scrolling */
    scroll-padding-top: 20px; /* Padding to ensure content doesn't touch the top */
}

.individuals-info {
    height: 100%; /* Full height of the parent */
    overflow-y: auto; /* Allow vertical scrolling */
    padding-right: 20px;
    scroll-snap-align: start; /* Snap the left column to start */
}

.contact-form-container {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    height: 100vh; /* Full viewport height */
    overflow-y: auto;
}

.contact-form {
    margin-top: 20px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .cta-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-container {
    margin-top: 20px;
    padding-right: 20px;
}

.dropdown-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-heading:hover {
    background-color: #f8f9fa;
}

.dropdown-heading span {
    font-size: 1.25rem;
}

.btn-circle {
    border: none;
    background: none;
    font-size: 1.25rem;
    color: #333;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    margin-left: 15px; /* Indentation for the content */
}

.dropdown-content.active {
    display: block;
}

.sub-heading {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sub-text {
    margin-bottom: 15px;
}